<form method="POST" action="/articles/<%=@article.id%>">
    <input type="hidden" name="_method" value="PATCH">
    <input type="text" name="article[title]" value="<%=@article.title%>" id="title">
    <input type="message" name="article[content]" value="<%=@article.content%>" id="content">
    <input type="submit" id="submit">
</form>