   <form method="POST" action="/articles">
     <h1> Title: <input type="text" name="title"> </h1>
    <h1> Content:  <input type="text" name="content"> <h2>
      <input type="submit">
    </form>
  </body>
</html>