<form action="/articles" method="post">
  <label for="title">Title</label>
  <input type="text" name="title" />
  <br>
  <label for="content">Content</label>
  <p><input type="textarea" name="content" /></p>
  <input type="submit" value="submit" />
</form>